$toggle: hsl(230, 22%, 74%);
$limeGreen: hsl(163, 72%, 41%);
$topBackground: hsl(225, 100%, 98%);
$veryDarkBlue: hsl(232, 19%, 15%);
$darkDesaturatedBlue: hsl(228, 28%, 20%);

.header {
  @include media-breakpoint-up(lg) {
   display: flex;
    //justify-content: space-between;

  }
}

.backHeader {
  position: absolute;
  top: 0;
  left: 0;
  height: 45vh;
  width: 100%;
  background-color: $topBackground;
  z-index: -1;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  @include media-breakpoint-up(lg){
    height: 35vh;
  }
}

.darkheader {
  background-color: $darkDesaturatedBlue !important;
}

.headerTitle {
  @include media-breakpoint-up(lg) {
  padding: 1rem 0;
  width: 100%;
  }
}

.darkMode {
    border-top: 1px solid #000;
    width: 80%;
   margin: 1rem 0;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-up(lg){
      border: none;
      justify-content: end;
      gap: 1rem;
      margin-right: 5%;

    }
  }


   .form-check {
    padding-top: 5%;
    @include media-breakpoint-up(lg){
      padding-top: 0;
    }
  }

  .form-check-input {
  //margin-top: 22%;
  //float: right;
  background-color: $limeGreen;
  border-color: $toggle;
  @include media-breakpoint-up(lg){
     margin-top: 0;  
     display: flex;
     justify-content: center;
  }
  &:checked {
    background-color: $toggle;
    border-color: $toggle;
}
  }

  .form-switch .form-check-input:focus {
    border-color: #fff;
  }

  .form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
  }